<%- include("header") -%>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-center">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">About Us</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 <!-- <main class="my-5">-->
    <div class="container-fluid tradi">
      <div class="row">
        <div class="col">
          <h1>PLAY TRADITIONAL GAME</h1>
          <p>Experience new traditional game play</p>
          <a class="btn btn-lg" href="/rps" role="button">PLAY NOW</a>
        </div>
      </div>
    </div>
    <div class="container-fluid thegamesbg">
      <div class="row">
        <div class="col game">
          <p>What's so special?</p>
          <h1>THE GAME</h1>
          </div>
          <div class="col-md-9">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../assets/rockpaperstrategy-1600.jpg" width="750px" class="" alt="..." />
                </div>
                <div class="carousel-item">
                  <img src="../assets/rockpaperstrategy-1600.jpg" width="750px" class="" alt="..." />
                </div>
                <div class="carousel-item">
                  <img src="../assets/rockpaperstrategy-1600.jpg" width="750px" class="" alt="..." />
                </div>
                <div class="carousel-item">
                  <img src="../assets/rockpaperstrategy-1600.jpg" width="750px" class="" alt="..." />
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid features">
      <div class="row">
        <div class="col">
          <p class="p1">What's so special?</p>
          <h1 class="p1">FEATURES</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5 class="h5">TRADITIONAL GAMES</h5>
          <p class="p1">if you miss your childhood, we provide many traditional games here</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5 class="h5">GAME SUIT</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5 class="h5">TBD</h5>
        </div>
      </div>
    </div>

    <div class="container-fluid requirments">
      <p class="pp">Can My Computer Run this game?</p>
      <div class="row">
        <div class="col-md-6">
          <h1 class="req">
            SYSTEM
            <br />
            REQUIRMENTS
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 border">
          <h5 class="h5">OS :</h5>
          <p class="p1">Windows 7 64-bit only (NO OSX support at this time)</p>
        </div>

        <div class="col-md-3 border">
          <h5 class="h5">PROCESSOR:</h5>
          <p class="p1">Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @2.8 GHZ</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 border">
          <h5 class="h5">MEMORY:</h5>
          <p class="p1">4 GB RAM</p>
        </div>
        <div class="col-md-3 border">
          <h5 class="h5">STORAGE:</h5>
          <p class="p1">8 GB available space</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 border">
          <h5 class="h5">GRAPHICS:</h5>
          <p class="p1">NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
        </div>
      </div>

      <div class="row"></div>
    </div>

    <div class="container-fluid comment">
      <div class="row">
        <div class="col top">
          <h1 class="">TOP SCORES</h1>
          <p class="">This top score from various games provided on this platform</p>
          <a class="btn btn-lg" href="#" role="button">SEE MORE</a>
        </div>
        <div class="col top1">
          <div class="row" data-aos="fade-left" data-aos-duration="1000">
            <div class="card mb-3 bg-dark" style="max-width: 450px">
              <div class="row">
                <div class="col-md-3">
                  <img src="./assets/evan-lahti.jpg" class="img-fluid rounded-circle" alt="..." />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Evan Lahti</h5>
                    <p class="card-text">"One of my gaming highlights of the year."</p>
                    <p class="card-text"><small class="text-muted">June 18,2021</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" data-aos="fade-right" data-aos-duration="1500">
            <div class="card mb-3 bg-dark" style="max-width: 450px">
              <div class="row ">
                <div class="col-md-3">
                  <img src="./assets/jada-griffin.jpg" class="img-fluid rounded-circle" alt="..." />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Jada Griffin</h5>
                    <p class="card-text">"The next big thing in the world of streaming and survival games"</p>
                    <p class="card-text"><small class="text-muted">July 10,2021</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" data-aos="fade-left" data-aos-duration="2000">
            <div class="card mb-3 bg-dark" style="max-width: 450px">
              <div class="row g-2">
                <div class="col-md-3">
                  <img src="./assets/aaron-williams.jpg" class="img-fluid rounded-circle" alt="..." />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Aaron Williams</h5>
                    <p class="card-text">"Snoop Dogg Playing The Wildly Entertaining'SOS' Is Ridiculous"</p>
                    <p class="card-text"><small class="text-muted">December 24, 2018</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  --><!--</main>-->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  </body>
  <%- include("footer") -%>