<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <title>Dashboard</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <h1>Hi, <%= name %></h1>
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white w-25">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="" class="list-group-item list-group-item-action py-2 ripple active"> <i class="fas fa-chart-area fa-fw me-3"></i><span>Main Dashboard</span> </a>
          <a href="/users/create" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-lock fa-fw me-3"></i><span>Create User</span></a>
          <a href="/users/readuser" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-lock fa-fw me-3"></i><span>List User</span></a>
          <a href="/users/updateuser" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-lock fa-fw me-3"></i><span>Update User</span></a>

          <a href="/users/createbio" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-lock fa-fw me-3"></i><span>Create Biodata User</span></a>
          <a href="/users/readbio" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-lock fa-fw me-3"></i><span>List Biodata User</span></a>
          <a href="/users/updatebiodata" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-lock fa-fw me-3"></i><span>Update Biodata User</span></a>
          <a href="/users/readhistory" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-lock fa-fw me-3"></i><span>List Game history</span></a>
        </div>
      </div>
    </nav>
  </body>
</html>
