<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="css/style2.css" />
    <title>Challenge 4</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg bg-warning">
      <div class="container-fluid">
        <a class="navbar-brand" href="/body">ROCK PAPER SCISSORS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav"></div>
      </div>
    </nav>
    <section class="container">
      <div class="result_field">
        <div class="result_images">
          <span class="user_result"
            >PLAYER 1
            <img src="./assets/batu.png" alt="" />
          </span>
          <span class="com_result"
            >COMP
            <img src="./assets/batu.png" alt="" />
          </span>
        </div>
        <div class="result">Let's Play</div>
      </div>

      <div class="option_images">
        <span class="option_image">
          <img src="./assets/batu.png" alt="" />
          <p>Rock</p>
        </span>
        <span class="option_image">
          <img src="./assets/kertas.png" alt="" />
          <p>Paper</p>
        </span>
        <span class="option_image">
          <img src="./assets/gunting.png" alt="" />
          <p>Scissors</p>
        </span>
        <span class="option_image1">
          <img src="./assets/refresh.png" alt="" value="refresh" onClick="document.location.reload(true)" />
        </span>
      </div>
    </section>
    <!-- <main class="my-5">-->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    --><!--</main>-->

    <script src="index.js"></script>
  </body>
</html>
