<html>
  <head>
    <title>Users | Create</title>
  </head>
  <body>
    <form method="POST" action="/users">
      <label for="username">Username</label>
      <br />
      <input type="text" name="username" />
      <br />
      <label for="password">Password</label>
      <br />
      <input type="text" name="password" />
      <br />
      <button type="submit"></button>
    </form>
  </body>
</html>
