<html>
  <head>
    <title>Users | Create</title>
  </head>
  <body>
    <form method="POST" action="/users">
      <label for="name">Name</label>
      <br />
      <input type="text" name="name" />
      <br />
      <label for="email">Email</label>
      <br />
      <input type="text" name="email" />
      <br />
      <label for="gender">Gender</label>
      <br />
      <input type="text" name="gender" />
      <br />
      <label for="date_of_birth">Date of Birth</label>
      <br />
      <input type="text" name="date_of_birth" />
      <br />
      <label for="city">City</label>
      <br />
      <input type="city" name="city" />
      <br />
      <button type="submit"></button>
    </form>
  </body>
</html>
