<html>
  <head>
    <title>Users | All</title>
  </head>
  <body>
    <% user_games.forEach(i => { %>
    <div>
        <h3><%= i.username %></h1>
        <h3><%= i.password %></h3>
        
    </div>
    <% }) %>
  </body>
</html>
