<html>
  <head>
    <title>Users | All</title>
  </head>
  <body>
    <% user_game_biodata.forEach(i => { %>
    <div>
      <h3><%= i.name %></h3>
      <h3><%= i.email %></h3>
      <h3><%= i.gender %></h3>
      <h3><%= i.date_of_birth %></h3>
      <h3><%= i.city %></h3>
    </div>
    <% }) %>
  </body>
</html>
