<html>
  <head>
    <title>Users | All</title>
  </head>
  <body>
    <% user_game_history.forEach(i => { %>
    <div>
      <h3><%= i.win %></h3>
      <h3><%= i.lose %></h3>
      <h3><%= i.time_play %></h3>
      <h3><%= i.total_match %></h3>
      <h3><%= i.win_rate %></h3>
    </div>
    <% }) %>
  </body>
</html>
