<html>
  <head>
    <title>Users | Update</title>
  </head>
  <body>
    <form method="POST" action="/users/updateuser/<%= uuid %>">
      <label for="username">Username</label>
      <br />
      <input type="text" name="username" value="<%= username %>" />
      <br />

      <label for="password">Password</label>
      <br />
      <input type="text" name="password" value="<%= password %>" />
      <br />
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
